# Container Types Introduction

Container/Reference Types:

- 'list'
- 'tuple'
- 'dictionary'
- 'set'

In [31]:
fruits = ['apple', 'cherry', 'banana']
fruits.append('a')
fruits.sort()


fruits

['a', 'apple', 'banana', 'cherry']

In [21]:
a = [1, 4, 5, 9]
b = a
c = a.copy()

print(id(a))
print(id(b))
print(id(c))

2320591701696
2320591701696
2320591701824

In [24]:
fruits = ['apple', 'cherry', 'banana']

fruits[2]

'banana'

In [35]:
#Tuple
#tuple unpacking
a = 1
b = 'Firdavs'
c = 23.7


tpl = (a, b, c)
tpl

(1, 'Firdavs', 23.7)

In [36]:
type(tpl)

tuple

### Dictionary

In [ ]:
person = {
    'name' : 'Firdavs',
    'email' : 'jdhnjh@gmail.com',
    'age' : 20
}
print(person.keys())
print(person.values())
print(person['email'])

dict_keys(['name', 'email', 'age'])
dict_values(['Firdavs', 'jdhnjh@gmail.com', 20])

TypeError: 'dict' object is not callable

In [47]:
hash((1, 2))

-3550055125485641917

In [57]:
s1 = {'a', 'b', 'c'}
s2 = {'c', 'd', 'a'}

print('union:', s1.union(s2))
print('union:', s1 | s2)
print('intersection:', s1 & s2)
print('difference:', s1.difference(s2))
print(s1 - s2)
print(s2 - s1)
print(s1.symmetric_difference(s2))
print(s1 ^ s2)

union: {'a', 'c', 'b', 'd'}
union: {'a', 'c', 'b', 'd'}
intersection: {'a', 'c'}
difference: {'b'}
{'b'}
{'d'}
{'b', 'd'}
{'b', 'd'}

### Named Tuple

In [60]:
from collections import namedtuple

info = namedtuple('info', ['name', 'lname', 'age'])

person1 = info('Firdavs', 'Sobirov', 20)
person2 = info('Muhiba', 'Rajabova', 54)
person3 = info('Furkat', 'Saidov', 54)

person2.name == person2[0]

True

In [61]:
7 // 2

3

In [1]:
fruits = ['apple', 'cherry', 'banana']
print(fruits * 5)

['apple', 'cherry', 'banana', 'apple', 'cherry', 'banana', 'apple', 'cherry', 'banana', 'apple', 'cherry', 'banana', 'apple', 'cherry', 'banana']

In [1]:
set([-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6])

{-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6}

In [3]:
set1 = {2, 4, 8, 5, 3}
set2 = {3, 5, 4}

set2 - set1

set()